# ======= LIVEKIT =======
LIVEKIT_URL=wss://your-project.livekit.cloud
LIVEKIT_API_KEY=your-api-key
LIVEKIT_API_SECRET=your-api-secret
LIVEKIT_AGENT_NAME=ai-call-agent


API_BASE_URL=http://api:8000
AGENT_INTERNAL_API_TOKEN=replace-me
REDIS_URL=redis://redis:6379/0
GEMINI_API_KEY=replace-me
OPENAI_API_KEY=replace-me
DEEPGRAM_API_KEY=replace-me
ELEVENLABS_API_KEY=replace-me
ELEVENLABS_VOICE_ID=ODq5zmih8GrVes37Dizd
ELEVEN_API_KEY=replace-me
